.nav-header {
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(green, lightgreen, green);
}
.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-left: -40px;
}

.nav-link {
  text-decoration: none;
  margin-left: 2px;
  margin-bottom: 12px;
  color: white;
  font-family: 'Roboto';
  font-size: 4px;
}

.blog-container {
  display: flex;
  flex-direction: column;
}
.blog-title {
  font-family: 'Roboto';
  color: white;
  font-size: 4px;
}
.sub-title {
  color: white;
  font-family: 'Roboto';
  margin-top: 0px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}
@media screen and (min-width: 575px) {
  .blog-title {
    font-family: 'Roboto';
    color: white;
    font-size: 6px;
  }
}
.top-img1 {
  height: 25vh;
  width: 25vw;
}
.top-img2 {
  height: 25vh;
  width: 50vw;
}
.top-img3 {
  height: 25vh;
  width: 25vw;
}
.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media all and (min-width: 575px) {
  .nav-header {
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(green, lightgreen, green);
  }
  .nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-left: -40px;
  }

  .nav-link {
    text-decoration: none;
    margin-left: 2px;
    margin-bottom: 12px;
    color: white;
    font-family: 'Roboto';
    font-size: 8px;
  }

  .blog-container {
    display: flex;
    flex-direction: column;
  }
  .blog-title {
    font-family: 'Roboto';
    color: white;
    font-size: 4px;
  }
  .sub-title {
    color: white;
    font-family: 'Roboto';
    margin-top: 0px;
  }

  li {
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    color: white;
    font-family: 'Roboto';
    cursor: pointer;
  }

  @media screen and (min-width: 575px) {
    .blog-title {
      font-family: 'Roboto';
      color: white;
      font-size: 6px;
    }
  }
  .top-img1 {
    height: 25vh;
    width: 25vw;
  }
  .top-img2 {
    height: 25vh;
    width: 50vw;
  }
  .top-img3 {
    height: 25vh;
    width: 25vw;
  }
  .img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media all and (min-width: 991px) {
  .nav-header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(green, lightgreen, green);
  }
  .nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-left: -40px;
  }

  .nav-link {
    text-decoration: none;
    margin-left: 2px;
    margin-bottom: 12px;
    color: white;
    font-family: 'Roboto';
    font-size: 10px;
  }

  .blog-container {
    display: flex;
    flex-direction: column;
  }
  .blog-title {
    font-family: 'Roboto';
    color: white;
    font-size: 4px;
  }
  .sub-title {
    color: white;
    font-family: 'Roboto';
    margin-top: 0px;
  }

  li {
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    color: white;
    font-family: 'Roboto';
    cursor: pointer;
  }

  @media screen and (min-width: 991px) {
    .blog-title {
      font-family: 'Roboto';
      color: white;
      font-size: 6px;
    }
  }
  .top-img1 {
    height: 25vh;
    width: 25vw;
  }
  .top-img2 {
    height: 25vh;
    width: 50vw;
  }
  .top-img3 {
    height: 25vh;
    width: 25vw;
  }
  .img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.active {
  background-color: #ff7b00;
  width: auto;
  height: 10px;
  color: black;
  font-weight: 600;
  border-radius: 1px;
  display: inline-block;
  padding: 2px;
  margin: 2px;
  text-align: center;
}
