.heading {
  color: #f00a5a;
  font-size: 10px;
  padding: 10px;
  font-weight: 500;
}

@media all and (min-width: 575px) {
  .heading {
    color: #f00a5a;
    font-size: 12px;
    padding: 10px;
    font-weight: 500;
  }
}

@media all and (min-width: 767px) {
  .heading {
    color: #f00a5a;
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
  }
}

@media all and (min-width: 991px) {
  .heading {
    color: #f00a5a;
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
  }
}

@media all and (min-width: 1200px) {
  .heading {
    color: #f00a5a;
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
  }
}

.top-text {
  font-size: 10px;
  background-color: white;
  text-decoration: underline;
  margin-top: 80px;
}

@media all and (min-width: 575px) {
  .top-text {
    font-size: 12px;
    background-color: white;
    text-decoration: underline;
  }
}

@media all and (min-width: 767px) {
  .top-text {
    font-size: 14px;
    background-color: white;
    text-decoration: underline;
  }
}

@media all and (min-width: 991px) {
  .top-text {
    font-size: 16px;
    background-color: white;
    text-decoration: underline;
  }
}

@media all and (min-width: 1200px) {
  .top-text {
    font-size: 18px;
    background-color: white;
    text-decoration: underline;
  }
}

.tour-package-p {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 10px;
  color: black;
}

@media all and (min-width: 575px) {
  .tour-package-p {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 12px;
    color: black;
  }
}

@media all and (min-width: 767px) {
  .tour-package-p {
    margin-top: 12px;
    margin-left: 40px;
    font-size: 14px;
    color: black;
  }
}

@media all and (min-width: 991px) {
  .tour-package-p {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 18px;
    color: black;
  }
}

.nava-card {
  height: 200px;
  width: 45vw;
  padding: 10px;
  box-shadow: 2px 2px #e1e3e1;
}

.heading1 {
  font-size: 8px;
  margin-top: 30px;
  margin-left: 20px;
  color: #bf1d1d;
  font-weight: bold;
}

.nava-p {
  font-size: 5px;
  color: black;
}

@media all and (min-width: 575px) {
  .heading1 {
    font-size: 12px;
    margin-top: 30px;
    margin-left: 30px;
    color: #bf1d1d;
    font-weight: 800;
  }

  .nava-p {
    font-size: 5px;
    color: black;
  }

  .nava-card {
    height: 200px;
    width: 45vw;
    padding: 10px;
    box-shadow: 2px 2px #e1e3e1;
  }
}

@media all and (min-width: 767px) {
  .heading1 {
    font-size: 16px;
    margin-top: 30px;
    margin-left: 30px;
    color: #bf1d1d;
    font-weight: 800;
  }

  .nava-p {
    font-size: 8px;
    color: black;
  }

  .nava-card {
    height: 250px;
    width: 45vw;
    padding: 10px;
    box-shadow: 2px 2px #e1e3e1;
  }
}

@media all and (min-width: 991px) {
  .heading1 {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
    color: #bf1d1d;
    font-weight: 800;
  }

  .nava-p {
    font-size: 10px;
    color: black;
  }

  .nava-card {
    height: 300px;
    width: 45vw;
    padding: 10px;
    box-shadow: 2px 2px #e1e3e1;
  }
}

@media all and (min-width: 1200px) {
  .heading1 {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 40px;
    color: #bf1d1d;
    font-weight: 800;
  }

  .nava-p {
    font-size: 12px;
    color: black;
  }

  .nava-card {
    height: 300px;
    width: 45vw;
    padding: 10px;
    box-shadow: 2px 2px #e1e3e1;
  }
}

.footer-text {
  background-color: #ff4433;
  height: 20px;
  width: 100vw;
  font-size: 6px;
  font-weight: 500;
  text-align: center;
  padding: 3px;
}

.footer-back-color {
  background-color: #94f207;
  height: 40px;
  width: 100vw;
  text-align: center;
  padding: 10px;
}

.logo-img {
  height: 20px;
  width: 20px;
}

.footer-align {
  margin-top: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
